<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzy.common.sys.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.tzy.common.sys.model.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="is_disabled" jdbcType="BIT" property="isDisabled" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
</mapper>